body {
  margin: 0;
  background-color: rgba(0, 0, 0, .1);
  display: block;
  font-family: 'Open Sans', sans-serif;
}

#page-content {
  margin-left: 120px;
}

#sidebar {
  position: fixed;
  width: 120px;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .4);
}

h1 {
  color: #0033c7;
  font-weight: 700;
  margin-bottom: 0;
  /*opacity: 0.8;*/
}

h2 {
  font-size: 20px;
  color: #0033c7;
  opacity: 0.6
  /*font-weight: 700;*/
}

h3 {
  font-size: 15px;
  color: rgba(0,0,0,0.6);
  /*font-weight: 400;*/
}

a {
  text-decoration: none;
  color: #0033c7;
}

a:hover {
  opacity: 0.6;
}

table p {
  margin: 40px;
  opacity: 0.5;
  font-size: 14px;
}

.container {
  width: 700;
  margin: 50px auto;
}

div {
  display: block;
}

.text-center {
  text-align: center;
}

.card {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.2);
}

.img-circle {
  border-radius: 50%;
}

#profile-pic {
  width: 120;
  border: 4px solid rgba(0, 0, 0, .1);
  /*margin-top: 20px;*/
}

.btn-blue {
  background-color: #0033c7;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
}

#tagline {
  margin: 10px 0;
}

#bio {
  margin-bottom: 20px;
  padding: 0 40px;
}

tr {
  padding: 20px;
  margin: 20px;
}

td img {
  width: 100px;
}
ul {
  padding: 0;
}

ul li {
  display: inline-block;
  padding: 0 20px;
  font-size: 50px;
}

#sidebar ul li {
  display: block;
  padding-top: 50px;
  margin: 0 auto;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
